<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>feedName</key>
		<string>HN Timely Timeline</string>
		<key>feedURL</key>
		<string>https://hacker-news.firebaseio.com/v0/topstories.json</string>
		<key>feedType</key>
		<string>timely</string>
	</dict>
	<dict>
		<key>feedName</key>
		<string>HN Top Stories</string>
		<key>feedURL</key>
		<string>https://hacker-news.firebaseio.com/v0/topstories.json</string>
		<key>feedType</key>
		<string>official</string>
	</dict>
	<dict>
		<key>feedName</key>
		<string>HN New Stories</string>
		<key>feedURL</key>
		<string>https://hacker-news.firebaseio.com/v0/newstories.json</string>
		<key>feedType</key>
		<string>official</string>
	</dict>
	<dict>
		<key>feedName</key>
		<string>HN Best Stories</string>
		<key>feedURL</key>
		<string>https://hacker-news.firebaseio.com/v0/beststories.json</string>
		<key>feedType</key>
		<string>official</string>
	</dict>
	<dict>
		<key>feedName</key>
		<string>HN Last 24h</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/?sort=byPopularity&amp;prefix&amp;page=0&amp;dateRange=last24h&amp;type=story</string>
		<key>feedType</key>
		<string>algolia</string>
	</dict>
	<dict>
		<key>feedName</key>
		<string>HN Past Week</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/?sort=byPopularity&amp;prefix&amp;page=0&amp;dateRange=pastWeek&amp;type=story</string>
		<key>feedType</key>
		<string>algolia</string>
	</dict>
	<dict>
		<key>feedName</key>
		<string>HN Past Month</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/?sort=byPopularity&amp;prefix&amp;page=0&amp;dateRange=pastMonth&amp;type=story</string>
		<key>feedType</key>
		<string>algolia</string>
	</dict>
	<dict>
		<key>feedName</key>
		<string>HN Past Year</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/?sort=byPopularity&amp;prefix&amp;page=0&amp;dateRange=pastYear&amp;type=story</string>
		<key>feedType</key>
		<string>algolia</string>
	</dict>
	<dict>
		<key>feedName</key>
		<string>HN Front Page</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/api/v1/search?tags=front_page</string>
		<key>feedType</key>
		<string>algolia</string>
	</dict>
</array>
</plist>
