<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>feedID</key>
		<integer>10</integer>
		<key>feedName</key>
		<string>SmartFeed</string>
		<key>feedType</key>
		<string>algolia</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/api/v1/search?tags=story&amp;page=0&amp;hitsPerPage=100</string>
		<key>isHidden</key>
		<false/>
	</dict>
	<dict>
		<key>feedID</key>
		<integer>8</integer>
		<key>feedName</key>
		<string>Since Last Visit</string>
		<key>feedType</key>
		<string>algolia</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/api/v1/search?tags=story&amp;page=0&amp;hitsPerPage=100</string>
		<key>isHidden</key>
		<true/>
	</dict>
	<dict>
		<key>feedID</key>
		<integer>2</integer>
		<key>feedName</key>
		<string>HN Last 24h</string>
		<key>feedType</key>
		<string>algolia</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/api/v1/search?tags=story&amp;page=0&amp;hitsPerPage=5</string>
		<key>fromCalendarComponentByAdding</key>
		<string>day</string>
		<key>fromCalendarComponentValue</key>
		<integer>-1</integer>
		<key>isHidden</key>
		<false/>
	</dict>
	<dict>
		<key>feedID</key>
		<integer>3</integer>
		<key>feedName</key>
		<string>HN Past Week</string>
		<key>feedType</key>
		<string>algolia</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/api/v1/search?tags=story&amp;page=0&amp;hitsPerPage=30</string>
		<key>fromCalendarComponentByAdding</key>
		<string>day</string>
		<key>fromCalendarComponentValue</key>
		<integer>-7</integer>
		<key>isHidden</key>
		<false/>
	</dict>
	<dict>
		<key>feedID</key>
		<integer>4</integer>
		<key>feedName</key>
		<string>HN Past Month</string>
		<key>feedType</key>
		<string>algolia</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/api/v1/search?tags=story&amp;page=0&amp;hitsPerPage=100</string>
		<key>fromCalendarComponentByAdding</key>
		<string>month</string>
		<key>fromCalendarComponentValue</key>
		<integer>-1</integer>
		<key>isHidden</key>
		<false/>
	</dict>
	<dict>
		<key>feedID</key>
		<integer>5</integer>
		<key>feedName</key>
		<string>HN Past Year</string>
		<key>feedType</key>
		<string>algolia</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/api/v1/search?tags=story&amp;page=0&amp;hitsPerPage=100</string>
		<key>fromCalendarComponentByAdding</key>
		<string>year</string>
		<key>fromCalendarComponentValue</key>
		<integer>-1</integer>
		<key>isHidden</key>
		<false/>
	</dict>
	<dict>
		<key>feedID</key>
		<integer>1</integer>
		<key>feedName</key>
		<string>HN Top Stories</string>
		<key>feedType</key>
		<string>official</string>
		<key>feedURL</key>
		<string>https://hacker-news.firebaseio.com/v0/topstories.json</string>
		<key>isHidden</key>
		<false/>
	</dict>
	<dict>
		<key>feedID</key>
		<integer>6</integer>
		<key>feedName</key>
		<string>HN Front Page</string>
		<key>feedType</key>
		<string>algolia</string>
		<key>feedURL</key>
		<string>https://hn.algolia.com/api/v1/search?tags=front_page</string>
		<key>isHidden</key>
		<false/>
	</dict>
	<dict>
		<key>feedID</key>
		<integer>7</integer>
		<key>feedName</key>
		<string>HN New Stories</string>
		<key>feedType</key>
		<string>official</string>
		<key>feedURL</key>
		<string>https://hacker-news.firebaseio.com/v0/newstories.json</string>
		<key>isHidden</key>
		<false/>
	</dict>
	<dict>
		<key>feedID</key>
		<integer>9</integer>
		<key>feedName</key>
		<string>HN Best Stories</string>
		<key>feedType</key>
		<string>official</string>
		<key>feedURL</key>
		<string>https://hacker-news.firebaseio.com/v0/beststories.json</string>
		<key>isHidden</key>
		<true/>
	</dict>
</array>
</plist>
